#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --bg-color: #0d0f24;
  --selected-link: #444061;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-font-color: #fdfffc;
}

/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}


.main {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.5rem;
  box-shadow: 2px 6px 5px 0px rgba(34, 29, 230, 0.75);
}

.NavBar h1 {
  padding-left: 2%;
  animation: slideFromLeft 1.5s both;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }

}



.NavBar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  animation: fall 1.5s both;
}

.NavBar ul li a {
  font-weight: var(--bold-font);
  font-size: 1.2rem;

}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}


.Banner {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 4vh;
  animation: slideFromRight 1.5s both;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}



.left-side {
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;

}

.left-side h1 {
  font-size: 60px;
}

.left-side h2 {
  font-size: 40px;
}

.left-side button {
  text-align: center;
  width: 35%;
  height: 3.5rem;
  background: linear-gradient(to left, #3ec5ff, #c8358e);
  border: 0px;
  border-radius: 25px;
  color: var(--primary-font-color);
  padding: 1%;
  font-size: large;
  font-weight: var(--bold-font);
  margin-top: 10px;
}


.image-container {
  width: auto;
  border-radius: 50%;

}

.image-container img {
  border: 20px solid #0000;
  border-radius: 50%;
  background:
    linear-gradient(#0d0f24, #0d0f24) padding-box,
    linear-gradient(to top right, #3ec5ff, #c8358e) border-box;
  box-shadow: 0px 5px 15px 23px rgba(201, 203, 210, 0.35);
}


/*Social Networks*/

.SocialNets {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
  bottom: 50%;
  animation: appear 1.5s both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}


.socicon {
  width: 3rem;
  height: 3rem;

}


.NoMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.NoMatch h1 {
  font-size: 6em;
}


/*About page*/


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 60%;
  margin: auto;
  padding-top: 4rem;
  animation: appear 1.5s both;
  margin-bottom: 10%;

}

.about h1 {
  font-size: 2rem;
}

.about p {
  font-size: 1.5rem;
  text-align: center;
}

.card-container {
  display: flex;
  width: 100%;
  padding-top: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  text-align: center;
  width: 45%;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0px 0px 21px 3px rgba(44, 27, 195, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 1rem;

}


.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 60%;
  margin: auto;
  padding-top: 4rem;
  animation: appear 1.5s both;
  margin-bottom: 10%;
}

.skills .card {
  width: 100%;
}